<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>

    <header class="header">
        <a href="#" class="logo"> Check_Me Healthcare
        </a>

        <nav class="navbar">
            <a href="#" >Home</a>
            <a href="/about">About</a>
            <a href="/blog">blog</a>
            <a href="/developer" >Developer</a>
            <a href="/contact" class="active">Contact</a>
        </nav>
    </header>
<section class="contact container">

  <div class="section-block">
    <h4 class="ps-3">Contact Us</h4>
    <p class="ps-3">Have questions or need assistance? We're here to help!</p>
  </div>

  <div class="section-block">
    <h4 class="ps-3">Customer Support</h4>
    <p class="ps-3">Our dedicated customer support team is available to assist you with any inquiries or issues...</p>
  </div>

  <div class="section-block">
    <h4 class="ps-3">Get in Touch</h4>
    <p class="ps-3">Feel free to reach out via email or the form below. We value your feedback...</p>
    <p class="ps-3"><b>Email:</b> support@check_me.com</p>
    <p class="ps-3"><b>Phone:</b> 07018973759</p>
  </div>

  <div class="section-block">
    <h4 class="ps-3">Stay Connected</h4>
    <p class="ps-3">Follow us on social media to stay updated. Connect on Facebook or Instagram...</p>
  </div>

  <div class="section-block">
    <h4 class="ps-3">Location</h4>
    <p class="ps-3">Dera Ismail Khan, KPK, Pakistan</p>
  </div>

</section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>